@model ManagerObjectionAddViewModel

<div class="row">
    <div class="col-md-12">
        <form asp-action="EditObjection" id="frmEditObjection">
            @Html.HiddenFor(p => p.Id)
            <div class="form-group">
                <label asp-for="ObjectionName" class="control-label"></label>
                <input asp-for="ObjectionName" class="form-control" />
                <span asp-validation-for="ObjectionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResponseKeyword" class="control-label"></label>
                <input asp-for="ResponseKeyword" class="form-control" placeholder="For Multiple keywords Seperate by ','" />
                <span asp-validation-for="ResponseKeyword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="collectionId" class="control-label"></label>
                @Html.DropDownListFor(model => model.collectionId, Model.collections, "Select Collection", new { @class = "form-control" })
                <span asp-validation-for="collectionId" class="text-danger"></span>

            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group text-right">

                <input type="button" data-dismiss="modal" value="Cancel" class="btn btn-danger" />
                <input type="submit" value="Update" id="" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>