
@{
    ViewData["Title"] = "TermsCondition";
}

<section class="u-py-100 u-pt-lg-200 u-pb-lg-150 u-flex-center" style="background: #8B3AC6;
  background-image: -webkit-linear-gradient(left, #8B3AC6 0%, #4D3399 100%);
  background-image: -o-linear-gradient(left, #8B3AC6 0%, #4D3399 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(#8B3AC6), to(#4D3399));
  background-image: linear-gradient(to right, #8B3AC6 0%, #4D3399 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8B3AC6', endColorstr='#FF4D3399', GradientType=1);">
	
	<!--Establish Terms and Privacy Policy Section-->
  <div class="container">
    <div class="row">
    	<div class="col-12 text-center text-white">
    		<h1 class="text-white">
    			Terms & Privacy Policy
    		</h1>
    		<div class="u-h-4 u-w-50 bg-green rounded mx-auto my-4"></div>
    		<p class="lead">
    			Last update: June 18, 2019
    		</p>
    	</div>
    </div> <!-- END row-->
  </div> <!-- END container-->
</section> <!-- END intro-hero-->



  <!--Establish Terms and Conditions section-->       
<section class="u-py-80">
	<div class="container">
		<div class="row">
			<div class="col-12">
			
				<div class="mb-5">
					<h2 class="mb-4">
						Welcome to EchoTheme Privacy Policy
					</h2>
					<p>
						Nam liber tempor cum soluta nobis eleifend option congue is nihil imper  per tem por legere me that doming vulputate  the molestie Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volut pat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Claritas est etiam processus dynamicus, qui sequi tur mutationem consuetudium lectorum. suscipit lobortis nisl ut aliquip ex ea commodo consequat. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
					</p>
				</div> <!-- END mb-5 -->
			
				<div class="mb-5">
					<h2 class="mb-4">
						General Information
					</h2>
					<p>
						Nam liber tempor cum soluta nobis eleifend option congue is nihil imper  per tem por legere me that doming vulputate  the molestie Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna. 
					</p>
					<ul>
						<li class="mb-2">
							We may collect personal information directly when you provide it to us, automatically as you navigate through the Sites or through other people when you use services associated with the Sites.
						</li>
						<li class="mb-2">
							If you choose not to provide personal information, we may not be able to provide you with our services and you may not be able to carry out tran sactions or access the full range of features available through our Sites.
						</li>
					</ul>
				</div> <!-- END mb-5 -->
			
				<div class="mb-5">
					<h2 class="mb-4">
						How We Collect Personal Information
					</h2>
					<ul>
						<li class="mb-2">
							Companies that are in the Envato group of companies
						</li>
						<li class="mb-2">
							Subcontractors and service providers who assist us in connection with the ways we may use personal information (as set out above)
						</li>
						<li class="mb-2">
							Our professional advisers (lawyers, accountants, financial advisers etc)
						</li>
						<li class="mb-2">
							Regulators and government authorities in connection with our compliance procedures and obligations
						</li>
						<li class="mb-2">
							A purchaser or prospective purchaser of all or part of our assets or our business, and their professional advisers, in connection with the purchase
						</li>
						<li class="mb-2">
							Other people where we are authorised or required by law to do so.
						</li>
						<li class="mb-2">
							Provide general administrative and performance functions and activities.
						</li>
					</ul>
				</div> <!-- END mb-5 -->
							
				<div class="mb-5">
					<h2 class="mb-4">
						Cookies Policy
					</h2>
					<p>
						Nam liber tempor cum soluta nobis eleifend option congue is nihil imper  per tem por legere me that doming vulputate  the molestie Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna. 
					</p>
					<ul>
						<li class="mb-2">
							We may collect personal information directly when you provide it to us, automatically as you navigate through the Sites or through other people when you use services associated with the Sites.
						</li>
						<li class="mb-2">
							If you choose not to provide personal information, we may not be able to provide you with our services and you may not be able to carry out tran sactions or access the full range of features available through our Sites.
						</li>
					</ul>
				</div> <!-- END mb-5 -->
							
				<div class="mb-5">
					<h2 class="mb-4">
						When we need to update this policy
					</h2>
					<p>
						Nam liber tempor cum soluta nobis eleifend option congue is nihil imper  per tem por legere me that doming vulputate  the molestie Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna. 
					</p>
					<ul>
						<li class="mb-2">
							We may collect personal information directly when you provide it to us, automatically as you navigate through the Sites or through other people when you use services associated with the Sites.
						</li>
						<li class="mb-2">
							If you choose not to provide personal information, we may not be able to provide you with our services and you may not be able to carry out tran sactions or access the full range of features available through our Sites.
						</li>
					</ul>
				</div> <!-- END mb-5 -->
				
				<div class="mb-5">
					<h2 class="mb-4">
						How can you contact us?
					</h2>
					<p>
						Nam liber tempor cum soluta nobis eleifend option congue is nihil imper  per tem por legere me that doming vulputate  the molestie Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.
					</p>
					<ul>
						<li class="mb-2">
							We may collect personal information directly when you provide it to us, automatically as you navigate through the Sites or through other people when you use services associated with the Sites.
						</li>
						<li class="mb-2">
							If you choose not to provide personal information, we may not be able to provide you with our services and you may not be able to carry out tran sactions or access the full range of features available through our Sites.
						</li>
					</ul>
				</div> <!-- END mb-5 -->
				
				<div class="mb-5">
					<h2 class="mb-4">
						Question
					</h2>
					<p>
						Any questions about this Privacy Policy should be addressed to 
						<a href="mailto:support@echotheme.com" class="text-primary">support@echotheme.com</a>
					</p>
					<ul>
						<li class="mb-2">
							We may collect personal information directly when you provide it to us, automatically as you navigate through the Sites or through other people when you use services associated with the Sites.
						</li>
						<li class="mb-2">
							If you choose not to provide personal information, we may not be able to provide you with our services and you may not be able to carry out tran sactions or access the full range of features available through our Sites.
						</li>
					</ul>
				</div> <!-- END mb-5 -->
				
			</div> <!-- END col-12-->
		</div> <!-- END row-->
	</div> <!-- END container-->
</section> <!-- END -->
