/*body {
  background: #9932CC;
  color: #f2efe2;
  font-size: 16px;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Shadows Into Light', cursive;
}

.container1 {
  position: relative;
  border: 1px solid #f2efe2;
  width: 40vw;
  max-width: 60vw;
  margin: 0 auto;
  border-radius: 0.1rem;
  background: #f2efe2;
  padding: 0.2rem 1rem;
  color: #1e2440;
  overflow: scroll;
  margin-top: 10vh;
}*/

.container1 {
    position: relative;
    border: 1px solid #f2efe2;
    width: 40vw;
    max-width: 60vw;
    margin: 0 auto;
    border-radius: 0.1rem;
    background: #ddd;
    padding: 0.2rem 1rem;
    color: #1e2440;
    overflow: auto;
    max-height:150px;
    margin-top: 10vh;
    padding-bottom:10px;
    border-radius:2%;
}
.text-box {
  max-height: 70vh;
  overflow: auto;
}

.text-box:focus {
  outline: none;
}

.text-box p {
  border-bottom: 1px dotted black;
  margin: 0px !important;
}


.fa {
    color: white;
    background: #9932CC;
    /*border-radius: 50%;*/
    cursor: pointer;
    margin-top: 2rem;
    float: right;
    width: 3rem;
    height: 3rem;
    display: flex !important;
    align-items: center;
    padding: 5px;
    justify-content: center;
    border-radius: 5%;
}

@media (max-width: 768px) {
  .container {
    width: 85vw;
    max-width: 85vw;
  }

  .text-box {
    max-height: 55vh;
  }

  select {
    width: 70vw !important;
    padding: 3px 35px 5px 5px;
    background: url('./parasale.png') 96% / 13% no-repeat #eee !important;
  }
}

@media (width: 768px) {
  select {
    background: url('./parasale.png') 96% / 7% no-repeat #eee !important;
  }
}

select {
  width: 22vw;
  padding: 5px 35px 5px 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('./parasale.png') 96% / 15% no-repeat #eee;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Shadows Into Light', cursive;
  outline: none;
  cursor: pointer;
  position: absolute;
  bottom: 1vh;
  border-radius: 1rem;
}

select:focus, select:active {
  outline: none;
}
