<!DOCTYPE html>
<html lang="en">
<head>
    <!--Meta-->
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="A complete landing page solution for any business">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Favicon-->
    <link rel="icon" href="~/favicon.png">

    <!-- Title-->
    <title>@ViewData["Title"] - Parasale</title>

    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,500,600,700%7COpen+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.11/css/bootstrap-select.min.css" />
    <!--Icon fonts-->
    <link rel="stylesheet" href="~/assets/vendor/strokegap/style.css">
    <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/vendor/linearicons/style.css">
    <link rel="stylesheet" href="~/ThemeStyles/Datatable/jquery-datatable/dataTables.bootstrap4.min.css" />
    <!-- Stylesheet-->
    <!--
    // ////////////////////////////////////////////////
    // To Reduce server request and improved page speed drastically all third-party plugin bundle in assets/css/bundle.css
    // If you wanna add those manually bellow is the sequence
    // ///////////////////////////////////////////////
    -->
    <!--  <link rel="stylesheet" href="assets/vendor/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="assets/vendor/slick-carousel/slick/slick.css">
      <link rel="stylesheet" href="assets/vendor/fancybox/dist/jquery.fancybox.min.css">
      <link rel="stylesheet" href="assets/vendor/animate.css/animate.min.css">-->

    <link rel="stylesheet" href="~/assets/css/bundle.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link href="~/ThemeStyles/css/custome.css" rel="stylesheet" />
</head>

<body id="top">


    <!--[if lt IE 8]>
    <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!--Establish Header-->
    <header class="header header-shrink header-inverse fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg px-md-0">
                <a class="navbar-brand" href="index.html">
                    <span class="logo-default">
                        @*<img src="~/assets/img/logo-default.png" alt="">*@
                    </span>
                    <span class="logo-inverse">
                        @*<img src="~/assets/img/logo-inverse.png" alt="">*@
                    </span>
                </a>

                <button class="navbar-toggler p-0" data-toggle="collapse" data-target="#navbarNav">
                    <div class="hamburger hamburger--spin js-hamburger">
                        <div class="hamburger-box">
                            <div class="hamburger-inner"></div>
                        </div>
                    </div>
                </button>

                <!--Establish Home Button-->
                @*<div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
                            </li>
                        </ul>
                    </div>*@
            </nav>
        </div> <!-- END container-->
    </header> <!-- END header -->



    @RenderBody()

    <div class="modal" id="CreateNewModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title m-0" id="CreateNewModal-label"></h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div id="CreateNewBody" class="modal-body">

                </div>

                <!-- Modal footer -->
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>*@

            </div>
        </div>
    </div>
    <div class="scroll-top bg-white box-shadow-v1">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </div>


    <!--
    // ////////////////////////////////////////////////
    // To Reduce server request and improved page speed drastically all third-party plugin bundle in assets/js/bundle.js
    // If you wanna add those manually bellow is the sequence
    // ///////////////////////////////////////////////
    -->
    <!--
            <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
            <script src="assets/vendor/popper.js/dist/popper.min.js"></script>
            <script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="assets/vendor/slick-carousel/slick/slick.min.js"></script>
            <script src="assets/vendor/fancybox/dist/jquery.fancybox.min.js"></script>
            <script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
            <script src="assets/vendor/isotope/dist/isotope.pkgd.min.js"></script>
            <script src="assets/vendor/parallax.js/parallax.min.js"></script>
            <script src="assets/vendor/wow/dist/wow.min.js"></script>
            <script src="assets/vendor/vide/dist/jquery.vide.min.js"></script>
            <script src="assets/vendor/typed.js/lib/typed.min.js"></script>
            <script src="assets/vendor/appear-master/dist/appear.min.js"></script>
            <script src="assets/vendor/jquery.countdown/dist/jquery.countdown.min.js"></script>
            <script src="assets/js/smoothscroll.js"></script>
    -->
    @*<script src="~/assets/js/bundle.js"></script>
        <script src="~/assets/js/fury.js"></script>*@
    @*<script src="~/ThemeStyles/Datatable/datatablescripts.bundle.js"></script>
    <script src="~/ThemeStyles/Datatable/jquery-datatable.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>*@
    @RenderSection("Scripts", required: false)
</body>
</html>