<!DOCTYPE html>
<html>

<body style="font-family: 'Montserrat', 'Open Sans', sans-serif; color: #333;">
    <table style="width: 50%;margin: 0 auto;border: none;background: #fff;padding: 15px;box-shadow: 0 0 20px #00000017;border-radius: 5px;">

        <tbody>
            <tr>
                <td style="font-size: 18px; text-align: left;">
                    <h3>
                        Hey {Name}
                    </h3>
                </td>
            </tr>
            <tr>
                <td style="font-size: 18px; text-align: left;">
                    <p style="margin:0;">
                        {ObjectionsCount}
                        <!--You have missed total {ObjectionsCount} objections. Here is detail-->
                    </p>
                </td>
            </tr>
            <tr>
                <td style="font-size: 18px; text-align: left; border:none;">
                    <table style="width: 100%;margin-bottom: 20px;border-collapse: collapse;border-spacing: 0;max-width: 100%;">
                        <thead>
                            <tr>
                                <th style="font-size: 18px; text-align: left; padding: 8px;line-height: 1.42857;vertical-align: top;">Objection Name</th>
                                <th style="font-size: 18px; text-align: left; padding: 8px;line-height: 1.42857;vertical-align: top;">Response Keyword</th>
                                <th style="font-size: 18px; text-align: left; padding: 8px;line-height: 1.42857;vertical-align: top;">Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {DynamicDataTr}
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="font-size: 18px; text-align: left; text-align: center;">
                    <p style="font-size: 14px;padding: 15px;margin: 0;">
                        email sent from ParaSale
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>