
@{
    ViewData["Title"] = "ForgotPassword";
}

<h1>Reset Your Password</h1>

<form asp-controller="Account"
      asp-action="SendPasswordResetLink"
      method="post">
    <table>
        <tr>
            <td>
                <label>
                    Email:
                </label>
            </td>
            <td><input name="Email" type="text" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit"
                       value="Reset Password" />
            </td>
        </tr>
    </table>
    <div asp-validation-summary="All"></div>

</form>