@model ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
}
<style>
    .validation-summary-errors ul {
        padding: 0;
        list-style: none;
    }

    .alert-success {
        color: #ffffff !important;
        background-color: #2cd44a !important;
        border-color: #2cd44a !important;
    }

    .alert {
        border-radius: 0rem !important;
        margin-bottom: -20px !important;
    }

    .u-mb-20 {
        margin-bottom: 0rem !important;
        margin-top: 1.25rem !important;
    }

    .d-flex {
        margin-top: 26px;
    }

    /*.field-validation-error {
        margin-left: -100px;
    }*/
</style>

<section data-dark-overlay="5" class="u-h-100vh u-flex-center" style="background:url(/assets/img/login/coming-soon-bg.jpg) no-repeat; background-size:cover; background-position: top center;">
    <div class="container">

        <!--Establish the top of the log-in box where it says log-in wrapped in green-->
        <div class="row">
            <div class="col-lg-6 m-auto text-center">
                <div class="card box-shadow-v2 bg-white u-of-hidden">
                    <h2 class="bg-purple m-0 py-3 text-white">Reset Password</h2>
                    <div class="alert alert-success" role="alert">
                        Whether it's your first time, or hundreth. This is the place to get started.
                    </div>
                    <div class="p-4 p-md-5">
                        <div id="loginform">
                            <form asp-controller="Account"
                                  asp-action="ResetPassword"
                                  method="post">
                                <input type="hidden" asp-for="Token" />
                                <input type="hidden" asp-for="UserName" />
                                <!--Establish person icon-green-->
                                <div class="input-group u-rounded-50 border u-of-hidden u-mb-20">
                                    <div class="input-group-addon bg-white border-0 pl-4 pr-0">
                                        <span class="icon icon-ClosedLock text-purple"></span>
                                    </div>
                                    <input asp-for="Password" type="password" class="form-control border-0 p-3" placeholder="Password">
                                </div>
                                <span asp-validation-for="Password" class="text-danger small"></span>

                                <!--Establish mail icon-green-->
                                <div class="input-group u-rounded-50 border u-of-hidden u-mb-20">
                                    <div class="input-group-addon bg-white border-0 pl-4 pr-0">
                                        <span class="icon icon-ClosedLock  text-purple"></span>
                                    </div>
                                    <input type="password" asp-for="ConfirmPassword" class="form-control border-0 p-3" placeholder="Confirm Password">
                                </div>
                                <span asp-validation-for="ConfirmPassword" class="text-danger small"></span>
                                <div>
                                    <!--Establish the login now button-->
                                    <button type="submit" class="btn btn-green btn-rounded u-mt-20 u-w-170">
                                        Reset
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div> <!-- END p-4 p-md-5-->
                </div>  <!-- END card-->
            </div> <!-- END col-lg-5-->
        </div> <!-- END row-->
    </div> <!-- END container-->

</section> <!-- END intro-hero-->

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}





<h1 class="d-none">Reset Your Password</h1>

<form class="d-none" asp-controller="Account"
      asp-action="ResetPassword"
      method="post">

    <input type="hidden" asp-for="Token" />
    <input type="hidden" asp-for="UserName" />
    <table>
        <tr>
            <td>
                <label asp-for="Password">
                    New Password
                </label>
            </td>
            <td><input asp-for="Password" /></td>
        </tr>
        <tr>
            <td>
                <label asp-for="ConfirmPassword">
                    Confirm New Password
                </label>
            </td>
            <td><input asp-for="ConfirmPassword" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit"
                       value="Reset Password" />
            </td>
        </tr>
    </table>

    <div asp-validation-summary="All"></div>

</form>